.header-text{
    color: black;
    padding: 30px;
    margin: 50px;
    border: 2px solid blue;
    border-radius: 30px;
    background-image: url(im.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center ;
   

}

.para{
    width: 30%;
    text-align: justify;
    padding-left: 400px;
}

.desc{
    text-align: center;
}
